<IfModule mod_rewrite.c>
  RewriteEngine On

# Allow Next.js static assets

RewriteRule ^\_next/static/(.\*)$ .next/static/$1 [L]

# Allow public folder assets (images, CSS, etc.)

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# All other requests should go to Next.js (server.js or index.js)

RewriteRule ^.\*$ index.js [L]
</IfModule>
