DirectoryIndex disabled

# Redirect traffic to your port 3000

RewriteEngine On
RewriteBase /

# Don’t rewrite existing files or directories
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^ - [L]

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^ - [L]

RewriteRule ^(.*)?$ http://127.0.0.1:3001/$1 [P,L]
